@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {  
  font-family: 'PublicSansRegular';  
  src: url('/font/Product Sans Regular.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;  
}  
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  /* width */
  ::-webkit-scrollbar {
    @apply w-[6px]
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-inherit
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-[#121212] rounded-xl
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#272727]
  }
}


.slider {  
  @apply  
  [&::-webkit-slider-runnable-track]:rounded-full  
  [&::-webkit-slider-thumb]:appearance-none  
  [&::-webkit-slider-thumb]:h-[20px]  
  [&::-webkit-slider-thumb]:w-[20px]  
  [&::-webkit-slider-thumb]:mt-[-7.5px]  
  [&::-webkit-slider-thumb]:rounded-full  
  [&::-webkit-slider-thumb]:!bg-white  
  [&::-moz-range-thumb]:w-[8px]  
  [&::-moz-range-thumb]:appearance-none  
  [&::-moz-range-thumb]:h-[8px]  
  [&::-moz-range-thumb]:bg-white  
  [&::-webkit-slider-runnable-track]:bg-[#FFFFFF4D]  
  [&::-webkit-slider-runnable-track]:h-[5px]  
  [&::-moz-range-track]:!bg-black
  [&::-ms-fill-lower]:!bg-black
  [&::-ms-fill-lower]:!appearance-none
  [&::-ms-fill-lower]:!w-[100px]
  [&::-ms-fill-lower]:!h-[5px]
  [&::-webkit-slider-fill-lower]:!appearance-none
  [&::-webkit-slider-fill-lower]:!bg-black
  [&::-webkit-slider-fill-lower]:!h-[20px]
  [&::-webkit-slider-fill-lower]:!w-full

}  

.slider::-webkit-slider-fill-lower {  
  appearance: none !important; 
  background-color: black!important;  
  width: 100%!important; 
  height: 5px!important; 
}  

.slider::-moz-range-progress {  
  appearance: none!important;  
  background-color: black!important; 
  height: 5px!important;
  width: 100% !important 
}