/* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
  }
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
  }
  